.table tr th{
    background-color: #337dff;
    color: white;
}
.modal-header{
    background-color: #337dff;
    color: white;
}
.obligatorio{
    color: red;

}
.form-registro{
    max-width: 600px;
    margin: auto;
}
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la animación */
}

.product-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Añade una sombra más marcada */
}
